#s2
{
-fx-background-image:url("/sample/Pictures/ocean.jpg");
-fx-background-size: 118px;
}

#b1,#b2,#b3,#b4,#b5,#b6
{
-fx-padding:30;
-fx-background-image:url("/sample/Pictures/bottle.jpg");
-fx-background-size: 118px;
}

#yours, #theirs,#treasure
{
-fx-background-image:url("/sample/Pictures/ship.png");
-fx-background-size: 300px;
-fx-padding:80;
-fx-background-position: center 8px;
}

#des