#s1
{
-fx-background-image:url("/sample/Pictures/bottlestartscreen.jpg");
-fx-background-size: 1200 800;
}

#sbtwn
{
-fx-background-image:url("/sample/Pictures/introbackground.jpg");
-fx-background-size: 1200px;
}

#in,#op
{
-fx-background-color:white;
-fx-padding:20 10;
-fx-border-radius:60px;
}

#op
{
-fx-font-size:72;
}

#in
{
-fx-font-size:34;
}

#s2
{
-fx-background-image:url("/sample/Pictures/ocean.jpg");
-fx-background-size: 118px;
}

#s3
{
-fx-background-color:lightblue;
}

#s4
{
-fx-background-image:url("/sample/Pictures/treasure.jpg");
-fx-background-size: 1200 800;
}

#st, #stoff, #submsg
{
-fx-background-color:white;
-fx-padding:30 125;
-fx-font-size:24;
}

#b1,#b2,#b3,#b4,#b5,#b6
{
-fx-padding:30;
-fx-background-image:url("/sample/Pictures/bottle.jpg");
-fx-background-size: 118px;
}

#yours, #theirs
{
-fx-background-image:url("/sample/Pictures/ship.png");
-fx-background-size: 100px;
-fx-padding:30 40;
-fx-background-position: center 1px;
}

#treasure
{
-fx-background-image:url("/sample/Pictures/island.jpg");
-fx-background-size: 300px;
-fx-padding:150 150;
-fx-background-position: center 1px;
}

#crit,#usebx
{
-fx-background-color:white;
-fx-padding:30px;
}

#dsc
{
-fx-background-color:white;
-fx-padding:30px;
-fx-font-size:20;
}

#btlemain
{
-fx-background-image:url("/sample/Pictures/bottle.jpg");
-fx-background-size:80;
}


